:root {
  --purple: #9c27b0;
  --black: #000000;
  --white: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  width:100vw;
  box-sizing: border-box;
  /* background-color: var(--purple); */
}
.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resultContainer{
  padding:5% 0 5% 0;
}
.container{
  background-color: var(--white);
  height: 100%;
  width: 100%;
}
.main-heading {
  font-size: 580%;
  color: var(--white);
  margin: 0.3em;
}
#start {
  width: 90%;
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
  font-size: 120%;
  border: none;
}
#hand {
  height: 330px;
  width: 330px;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: black;
}
.start-container {
  /* background-color: var(--white); */
height:15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#title {
  height:80px;
  
}
.sub-heading {
  font-size: 300%;

}
.rpsButton {
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  height: 30%;
  width: 25%;
  object-fit: contain;
}
.button-img {
  height: 50%;
  width: 70%;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 5%;
  margin-top: 2%;
}

/* Current image display */
#userCurrentIcon{
  transform: rotateZ(90deg);
}


.imgtemp {
  /* position: absolute; */
  /* top: 50%; */
  /* padding: 0 3% 0 3%; */
  display: flex;
  /* flex-direction:column; */
  gap:20%;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 35%;
}
#computerCurrentIcon {
  transform: rotate(-90deg);
}

#result{
  font-size: 190%;
  color:#cc6e02;
}
#player-score{
  font-size:110%;
  color:rgb(30, 107, 208) ;
}

.sub-section{
  font-size:220%;
}


.end-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:35%;
}
.container{
  display: flex;
  flex-direction: column;
  gap:2em;
}

#endGameButton{
  margin:2%;
  padding: 0.5% 3%;
  border-radius: 0.5em;
  font-size: large;
  font-weight: 700;
  height:15%;
  display:none;
  /* background-color: rgb(243, 217, 186); */
 
  /*color:rgb(33, 83, 235);*/
  color:rgb(203, 25, 25);
   border: 2.5px solid  black ;
}
.currentImg{
  /* height:18%; */
  width:100%;
  margin:0;
}
.side-container{
  display: none;
  
}

